# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
src/client/public/bundle.js
src/client/public/bundle.js.map

# misc
contacts.sqlite3
.DS_Store
npm-debug.log
